<div class="show-follow-box">
  <div class="back-nickname-box">
    <div class="back-button-box">
      <%= link_to "⬅", user_path(@user), class: "back-button" %>
    </div>
    <h2 class="nickname-box"><%= link_to @user.nickname, user_path(@user), class: "show-follow-nickname" %></h2>
  </div>
  <div class="follow-title"><%= @title %></div>
  <% @users.each do |user| %>

    <div class="user-box">
      <div class="avatar-box-photo-show">
        <%= render partial: 'shared/avatar', locals: { user: user } %>
      </div>
      <div class="nickname-follow-profile-box">
        <div class="nickname-follow-box">
          <div class="nickname">
            <%= link_to user.nickname, user_path(user.id), class:"nickname" %>
          </div>
          <div class="follow-box">
            <% if user_signed_in? %>
              <span class="follow", id=<%= "follow-btn-box-#{user.id}" %>>
                <%= render 'shared/follow_button', user: user %>
              </span>
            <% end %>
          </div>
        </div>
        <div>
        <% if user.profile.present? %>
          <%= safe_join(user.profile.split("\n"), tag(:br)) %>
        <% end %>
        </div>
      </div>
    </div>

  <% end %>

</div>

