<%= render 'shared/header' %>

<div class='photo-contents'>

<div class="user-show-header">
  <div class="avatar-box-user-show">
    <%= image_tag @user.avatar, class: "avatar-img" if @user.avatar.attached? %>
  </div>
  <h2 class='title'><%= "#{@nickname}" %></h2>
  
  <% if user_signed_in? %>
    <span class="follow", id="follow-btn-box">
    
      <%= render 'shared/follow_button', user: @user %>

    </span>
  <% end %>
  
</div>

  <ul class='photo-lists'>

    <%= render partial:"shared/photos", locals: {photos: @photos} %>

  </ul>
</div>

<%= render 'shared/footer' %>