<%= render 'shared/header' %>

<div>
  <h2><%= "#{@nickname}さんの投稿" %></h2>
</div>

<div class='photo-contents'>
  <h2 class='title'>最新投稿</h2>
  <ul class='photo-lists'>

    <% if @photos != nil %>
      <% @photos.each do |photo| %>
      <li class='list'>
        <%= link_to photo_path(photo.id) do %>
          <%= image_tag photo.image.variant(gravity: :center, resize:"640x640^", crop:"640x640+0+0"), class: "photo-img" if photo.image.attached? %>
        <% end %>
      </li>

      <% end %>

      <%# 写真がない場合 %>
    <% else %>
      <%= 投稿写真がありません %>
    <% end %>
  </ul>
</div>

<%= render 'shared/footer' %>