<%= render 'shared/header' %>

<div class='photo-contents'>

<div class="user-show-header">
  <div class="avatar-box-user-show">
    <%= image_tag @user.avatar.variant(gravity: :center, resize:"640x640^", crop:"640x640+0+0"), class: "avatar-img" if @user.avatar.attached? %>
  </div>
  <h2 class='title'><%= "#{@nickname}" %></h2>
  
  <% if user_signed_in? %>
    <span class="follow", id=<%= "follow-btn-box-#{@user.id}" %>>
    
      <%= render 'shared/follow_button', user: @user %>

    </span>
  <% end %>
  
</div>
<div class="follow-info">
  <span class="follow-count"><%= @user.followings.count %></span><%= link_to " フォロー中", following_user_path(@user.id), class: "follow-link" %>
  <span class="follow-count"><%= @user.followers.count %></span><%= link_to " フォロワー", followers_user_path(@user.id), class: "follow-link" %>
</div>
<br>

  <ul class='photo-lists'>

    <%= render partial:"shared/photos", locals: {photos: @photos} %>

  </ul>
</div>

<%= render 'shared/footer' %>

<%= debug(params) if Rails.env.development? %>