<footer class='footer'>
  <ul class='petput-info'>
    <li><%= link_to '基本データ', "#", class: "footer-link" %></li>
    <li><%= link_to 'ブログ', "#", class: "footer-link" %></li>
    <li><%= link_to '求人', "#", class: "footer-link" %></li>
    <li><%= link_to 'ヘルプ', "#", class: "footer-link" %></li>
    <li><%= link_to 'API', "#", class: "footer-link" %></li>
    <li><%= link_to 'プライバシー', "#", class: "footer-link" %></li>
    <li><%= link_to '利用規約', "#", class: "footer-link" %></li>
    <li><%= link_to '人気アカウント', "#", class: "footer-link" %></li>
    <li><%= link_to 'ハッシュタグ', "#", class: "footer-link" %></li>
    <li><%= link_to '所在地', "#", class: "footer-link" %></li>
  </ul>
  <ul class='footer-bottom'>
    <li class="language"><%= link_to '日本語v', "#", class: "footer-link" %></li>
    <li class='copyright'><p>© PetPut</p></li>
  </ul>
</footer>