<footer class='footer'>
  <ul class='petput-info'>
    <li><%= link_to 'ご利用ガイド', "#", class: "footer-link" %></li>
    <li><%= link_to 'プライバシー', "#", class: "footer-link" %></li>
    <li><%= link_to '利用規約', "#", class: "footer-link" %></li>
    <li><%= link_to 'お問い合わせ', "#", class: "footer-link" %></li>
  </ul>
  <p class='footer-bottom'>
    © 2021 Mitsuhiro Kawashima
  </p>

  <%# レスポンシブデザイン %>
  <%# スクリーンを小さくすると表示 %>
  <% if request.path_info != "/" %>
  <div class="hidden-large-screen">
    <%# 検索 %>

    <div class="search-container">
      <%# キャプション検索 %>
      <%= form_with url: search_photos_path, local: true, method: :get, class: "search-form", id: "search-button-id" do |form| %>
      <%= form.text_field :keyword, class: "input-box", placeholder: "検索" %>
      <button form="search-button-id" , class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
      <%= form.submit "検索", class: "hidden-search-button" %>
      <% end %>

      <%# カテゴリー検索 %>
      <%= search_form_for @q, url: photo_category_path, class: "category-search-form", id: "category-search-button-id" do |f| %>
      <%= f.collection_select :category_id_eq, Category.where.not(id: 0), :id, :name, {include_blank: "カテゴリー検索"}, class: "category-input-box" %>

      <button form="category-search-button-id" , class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>

      <%= f.submit '検索', class: "hidden-search-button" %>
      <% end %>
    </div>


    <% if user_signed_in? %>
    <ul class="menu">

      <li class="link-box hidden-small-screen">
        <% if user_signed_in? && current_user.entries.present? %>
        <%= link_to "/rooms/#{@cu_latest_room_id}", class: "link" do %>
        <i class="far fa-envelope dm-icon link-icon"></i>
        <p class="link-title">DM</p>
        <% end %>
        <% else %>
        <%= link_to "#", class: "link" do %>
        <i class="far fa-envelope dm-icon link-icon"></i>
        <p class="link-title">DM</p>
        <% end %>
        <% end %>
      </li>

      <li class="link-box">
        <%= link_to root_path, class: "link" do %>
        <i class="fas fa-door-open link-icon"></i>
        <p class="link-title">入り口</p>
        <% end %>
      </li>

      <li class="link-box">
        <%= link_to edit_user_registration_path, class: "link" do %>
        <i class="far fa-address-card link-icon"></i>
        <p class="link-title">登録変更</p>
        <% end %>
      </li>

      <li class="link-box">
        <%= link_to destroy_user_session_path, method: :delete, class: "link" do %>
        <i class="fas fa-sign-out-alt link-icon"></i>
        <p class="link-title">ログアウト</p>
        <% end %>
      </li>
    </ul>
    <% end %>
  </div>
  <% end %>
</footer>