<footer class='footer'>
  <ul class='petput-info'>
    <li><%= link_to 'ご利用ガイド', "#", class: "footer-link" %></li>
    <li><%= link_to 'プライバシー', "#", class: "footer-link" %></li>
    <li><%= link_to '利用規約', "#", class: "footer-link" %></li>
    <li><%= link_to 'お問い合わせ', "#", class: "footer-link" %></li>
  </ul>
  <p class='footer-bottom'>
    © 2021 Mitsuhiro Kawashima
  </p>

  <%# レスポンシブデザイン %>
  <%# スクリーンを小さくすると表示 %>
  <% if request.path_info != "/" %>
  <div class="hidden-large-screen">

    <%# トップページには表示しない（ここから） %>
    <% if user_signed_in? %>
    <ul class="menu">
      <li class="link-box hidden-med-screen">
        <%= link_to new_photo_path, class: "link" do %>
        <i class="far fa-plus-square link-icon"></i>
        <p class="link-title">新規投稿</p>
        <% end %>
      </li>

      <li class="link-box hidden-med-screen">
        <%= link_to photos_path, class: "link" do %>
        <%# <i class="far fa-clock link-icon"></i> %>
        <i class="fas fa-home link-icon"></i>
        <p class="link-title">タイムライン</p>
        <% end %>
      </li>

      <li class="link-box hidden-med-screen">
        <%= link_to favorites_user_path(current_user), class: "link" do %>
        <i class="far fa-star bookmark-icon link-icon"></i>
        <p class="link-title">お気に入り</p>
        <% end %>
      </li>

      <% if request.fullpath != "/notifications" %>
      <li class="link-box hidden-med-screen">
        <%= link_to notifications_path, class: "link" do %>
        <div>
          <i class="far fa-bell link-icon bell"></i>
          <% if unchecked_notifications.any? %>
          <i class="fas fa-circle mark"></i>
          <% end %>
        </div>
        <p class="link-title">お知らせ</p>
        <% end %>
      </li>
      <% end %>

      <li class="link-box">
        <% if user_signed_in? && current_user.entries.present? %>
        <%= link_to "/rooms/#{@cu_latest_room_id}", class: "link" do %>
        <i class="far fa-envelope dm-icon link-icon"></i>
        <p class="link-title">DM</p>
        <% end %>
        <% else %>
        <%= link_to "#", class: "link" do %>
        <i class="far fa-envelope dm-icon link-icon"></i>
        <p class="link-title">DM</p>
        <% end %>
        <% end %>
      </li>

      <%# <li class="link-box"> %>
      <%#= link_to root_path, class: "link" do %>
      <%# <i class="fas fa-door-open link-icon"></i> %>
      <%# <p class="link-title">入り口</p> %>
      <%# end %>
      <%# </li> %>

      <li class="link-box">
        <%= link_to edit_user_registration_path, class: "link" do %>
        <i class="far fa-address-card link-icon"></i>
        <p class="link-title">登録変更</p>
        <% end %>
      </li>

      <li class="link-box">
        <%= link_to destroy_user_session_path, method: :delete, class: "link", data: {confirm:'ログアウトしますか？'} do %>
        <i class="fas fa-sign-out-alt link-icon"></i>
        <p class="link-title">ログアウト</p>
        <% end %>
      </li>
    </ul>
    <% end %>
  </div>

  <% end %>
  <%# トップページには表示しない（ここまで） %>
</footer>