<header class='top-page-header'>
  <%= link_to image_tag("petput-logo.png", class:"petput-icon"), photos_path %>
  <%= form_with url: search_photos_path, local: true, method: :get, class: "search-form", id: "search-button-id" do |form| %>
  <%= form.text_field :keyword, class: "input-box", placeholder: "検索" %>
  <button form="search-button-id" , class="search-button">
    <%= image_tag "search.png", class:"search-icon" %>
  </button>
  <%= form.submit "検索", class: "hidden-search-button" %>
  <% end %>

  <%= search_form_for @q, url: photo_category_path, class: "category-search-form", id: "category-search-button-id" do |f| %>
  <%= f.collection_select :category_id_eq, Category.where.not(id: 0), :id, :name, {include_blank: "カテゴリー検索"}, class: "category-input-box" %>

  <button form="category-search-button-id" , class="search-button">
    <%= image_tag "search.png", class:"search-icon" %>
  </button>

  <%= f.submit '検索', class: "hidden-search-button" %>
  <% end %>

  <% if user_signed_in? %>
  <div class="avatar-nickname">
    <%= link_to user_path(current_user.id) do %>
    <div class="avatar-box">
      <%# avatar部分テンプレート %>
      <%= render partial: 'shared/avatar', locals: { user: current_user } %>
    </div>
    <p class="nickname"><%= current_user.nickname %></p>
    <% end %>
  </div>

  #メニュー
  <ul class="menu">
    <li class="link-box">
      <%= link_to new_photo_path, class: "link" do %>
      <i class="far fa-plus-square link-icon"></i>
      <p class="link-title">新規投稿</p>
      <% end %>
    </li>

    <li class="link-box">
      <%= link_to photos_path, class: "link" do %>
      <i class="far fa-clock link-icon"></i>
      <p class="link-title">ホーム</p>
      <% end %>
    </li>

    <li class="link-box">
      <%= link_to "#", class: "link" do %>
      <i class="far fa-star bookmark-icon link-icon"></i>
      <p class="link-title">お気に入り</p>
      <% end %>
    </li>

    <% if request.fullpath != "/notifications" %>
    <li class="link-box">
      <%= link_to notifications_path, class: "link" do %>
      <div>
        <i class="far fa-bell link-icon bell"></i>
        <% if unchecked_notifications.any? %>
        <i class="fas fa-circle mark"></i>
        <% end %>
      </div>
      <p class="link-title">お知らせ</p>
      <% end %>
    </li>
    <% end %>

    <li class="link-box">
      <% if user_signed_in? && current_user.entries.present? %>
      <%= link_to "/rooms/#{@cu_latest_room_id}", class: "link" do %>
      <i class="far fa-envelope dm-icon link-icon"></i>
      <p class="link-title">DM</p>
      <% end %>
      <% else %>
      <%= link_to "#", class: "link" do %>
      <i class="far fa-envelope dm-icon link-icon"></i>
      <p class="link-title">DM</p>
      <% end %>
      <% end %>
    </li>

    <li class="link-box">
      <%= link_to root_path, class: "link" do %>
      <i class="fas fa-door-open link-icon"></i>
      <p class="link-title">入り口</p>
      <% end %>
    </li>

    <li class="link-box">
      <%= link_to edit_user_registration_path, class: "link" do %>
      <i class="far fa-address-card link-icon"></i>
      <p class="link-title">登録変更</p>
      <% end %>
    </li>

    <li class="link-box">
      <%= link_to destroy_user_session_path, method: :delete, class: "link" do %>
      <i class="fas fa-sign-out-alt link-icon"></i>
      <p class="link-title">ログアウト</p>
      <% end %>
    </li>
  </ul>


  <%
=begin
%>
  <div class="menu">
    <input type="checkbox" id="input">
    <label for="input" class="three-lines">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </label>
    <%# <label for="input" class="back"></label>  %>

    <label for="input" class="back"></label>


    <div id="content">
      <ul>
        <li>
          <%= link_to "登録変更", edit_user_registration_path, class: "user_edit" %>
        </li>
        <li>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
        </li>
      </ul>
    </div>
    <div>
      <%
=end
%>

      <% else %>
      <li><%= link_to 'ログイン', user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "signup" %></li>
      <% end %>
      </ul>

</header>