  <div class="vote-btn-box">
    <% if current_user && current_user.votable_for?(photo) %>
      <%= link_to like_photo_path(photo), method: :patch, class: "vote-btn-like", remote: true do %>
        <i class="far fa-heart"></i>
      <% end %>
      <span><%= photo.votes.count %></span>
    <% elsif current_user && current_user.deletable_for?(photo) %>
      <%= link_to unlike_photo_path(photo), method: :patch, class: "vote-btn-unlike", remote: true do %>
        <i class="fas fa-heart"></i>
      <% end %>
      <span><%= photo.votes.count %></span>
    <% end %>
  </div>

  <div class="vote-result-box">
    <% if photo.voters.present? %>
      <div class="avatar-box-photo-show">
        <%= image_tag @photo.user.avatar.variant(gravity: :center, resize:"640x640^", crop:"640x640+0+0"), class: "avatar-img" if @photo.user.avatar.attached? %>
      </div>
      <% if photo.voters.count == 1 %>
        <p class="voter_nickname"><%= photo.voters.order("votes.created_at")[0].nickname %></p><span>が「いいね」しました</span>
      <% else %>
        <p class="voter_nickname"><%= photo.voters.order("votes.created_at")[0].nickname %>ら、他<%= photo.voters.count - 1 %>人</p><span>が「いいね」しました</span>
      <% end %>
    <% end %>
  </div>