<div class="dm-wrap">

  <h1 class="title">メッセージ</h1>

  <% @entries.each do |entry| %>
    <% if entry.user != current_user %>
      <h2 class="dm-partner">
        <%= link_to "#{entry.user.nickname}さん", user_path(entry.user), class: "nickname" %>
      </h2>
    <% end %>
  <% end %>

  <hr>

  <div id="message-wrap">
    <% if @messages.present? %>

      <%= render partial: 'message', collection: @messages %>

    <% else %>
      <div class="no-message-caption"><span>メッセージはまだありません<span></div>
      <hr>
    <% end %>
  </div>

  <div class="new-dm-box", id="new-dm-box">
    <%= form_with model: @message, remote: true do |f| %>
      <%= f.text_field :content, placeholder: "メッセージを入力して下さい" , size: 70, class: "new-dm", id:"new-dm" %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%# <%= f.submit "投稿する" %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-edit dm-post-icon"></i>
        <div class="dm-post-caption">投稿</div>
      <% end %>
    <% end %>
  </div>

  <div class="back-btn-box">
    <% if @entries[0].user_id == current_user.id %>
      <%= link_to "⬅ #{@entries[1].user.nickname}さんのページ", user_path(@entries[1].user_id), class: "back-btn" %>
    <% else %>
      <%= link_to "⬅ #{@entries[0].user.nickname}さんのページ", user_path(@entries[0].user_id), class: "back-btn" %>
    <% end %>
  </div>


</div>