<%= render 'shared/header' %>



<div class='photo-contents'>
  <h2 class='title'>最新投稿</h2>
  <ul class='photo-lists'>

    <% if @photos != nil %>
      <% @photos.each do |photo| %>
      <li class='list'>
        <%= link_to photo_path(photo.id) do %>
          <%= image_tag photo.image, class: "photo-img" if photo.image.attached? %>
        <% end %>
      </li>

      <% end %>

      <%# 写真がない場合のダミー %>
    <% else %>
      <li class='list'>
        <%= link_to "#" do %>
            <%= image_tag "dummy-photo_3.png", class: "photo-img" %>
        <% end %>
      </li>
      <li class='list'>
        <%= link_to '#' do %>
            <%= image_tag "dummy-photo_2.png", class: "photo-img" %>
        <% end %>
      </li>
      <li class='list'>
        <%= link_to '#' do %>
            <%= image_tag "dummy-photo_1.png", class: "photo-img" %>
        <% end %>
      </li>
      <li class='list'>
        <%= link_to '#' do %>
            <%= image_tag "dummy-photo_3.png", class: "photo-img" %>
        <% end %>
      </li>
      <li class='list'>
        <%= link_to '#' do %>
            <%= image_tag "dummy-photo_3.png", class: "photo-img" %>
        <% end %>
      </li>
      <li class='list'>
        <%= link_to '#' do %>
            <%= image_tag "dummy-photo_3.png", class: "photo-img" %>
        <% end %>
      </li>
      <li class='list'>
        <%= link_to '#' do %>
            <%= image_tag "dummy-photo_2.png", class: "photo-img" %>
        <% end %>
      </li>
      <li class='list'>
        <%= link_to '#' do %>
            <%= image_tag "dummy-photo_1.png", class: "photo-img" %>
        <% end %>
      </li>
      <li class='list'>
        <%= link_to '#' do %>
            <%= image_tag "dummy-photo_3.png", class: "photo-img" %>
        <% end %>
      </li>
      <li class='list'>
        <%= link_to '#' do %>
            <%= image_tag "dummy-photo_3.png", class: "photo-img" %>
        <% end %>
      </li>
      <%# /写真がない場合のダミー %>
    <% end %>
  </ul>
</div>

<%= render 'shared/footer' %>