<%= render 'shared/header' %>



<div class='photo-contents'>

  <% if (user_signed_in? && !@followings_photos.present?) || !user_signed_in? %>
    <h2 class='title'>最新投稿</h2>
    <ul class='photo-lists'>
      <%= render partial:"shared/photos", locals: {photos: @photos} %>
    </ul>

  <% else %>
      <h2 class='title'>マイ タイムライン</h2>
      <ul class='photo-lists'>
        <%= render partial:"shared/photos", locals: {photos: @my_timeline_photos} %>
      </ul>
      
      <h2 class='title'>最新投稿</h2>
      <%# <h2 class='title'>ランダム表示</h2> %>
      <ul class='photo-lists'>
        <%= render partial:"shared/photos", locals: {photos: @photos} %>
      </ul>
  <% end %>

</div>

<%= render 'shared/footer' %>